<form class="" method="POST" action="{{ .Site.Params.staticman }}">
  <input
    type="hidden"
    name="options[reCaptcha][siteKey]"
    value="6LcT8dESAAAAAPz2fZkAesZFtjL-Pf6tqXNpH3p3"
  />
  <input
    type="hidden"
    name="options[reCaptcha][secret]"
    value="6LcT8dESAAAAAGtlMUzYH6YKko8UwLU0wx7LKLBh"
  />

  <input name="options[redirect]" type="hidden" value="" />
  <input name="options[slug]" type="hidden" value="test-slug" />
  <div class="form-group">
    <label>Name: </label>
      <input class="form-control" name="fields[name]" type="text" />
  </div>
  <div class="form-group">
  <label>Known For: </label>
    <input class="form-control" name="fields[known-for]" type="text" />
  </div>
  <div class="form-group">
  <label>Brief Description: </label>
  <textarea class="form-control"
      name="fields[description]"
      rows="12"
      cols="36"
    ></textarea></label><br />
  </div>

  <div class="form-group g-recaptcha"
    data-sitekey="6LcT8dESAAAAAPz2fZkAesZFtjL-Pf6tqXNpH3p3"
  ></div>

  <input type="submit" class="btn btn-primary" value="Submit" />

</form>

<script src='https://www.google.com/recaptcha/api.js'></script>
